body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background: #0B0D17;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 48px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 350px;
    height: 346px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 40px 32px;
    box-sizing: border-box;
}
